#{
#    storage file_system {
#        root /docker_data/caddy
#    }
#}
CADDY_DOMAIN {
    log {
        output file /var/log/caddy.log
    }
    reverse_proxy /line v2ray:10000
    root * /site
    file_server
}
